.wordle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answerContainer {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.answer {
  background-color: rgb(0 0 0 / 0.3);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
